<div class="px-10 py-4">
    <h1 class="text-3xl uppercase">
        Terms of use
    </h1>
<p>
 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam nihil nisi reiciendis at soluta asperiores, maxime velit earum vitae. Eius architecto expedita explicabo velit ratione sint, consectetur dolorem, hic suscipit quos ullam corrupti possimus ipsum distinctio porro dolorum saepe modi totam quibusdam reiciendis. Magnam, neque nobis repellat mollitia distinction
 psum dolor sit amet consectetur, adipisicing elit. Eum non molestias obcaecati odit consequuntur ex enim officia eveniet impedit, neque, nisi magnam exercitationem quaerat esse optio nobis amet excepturi asperiores delectus minus ut sit ipsa id accusamus. Dolorum dolore, nam necessitatibus voluptas odio, possimus ipsam maxime, nobis sit minima magni?
</p>
</div>